<span class="twleve columns">Journal Page</span>
<div id="JournalArea" class="ten columns offset-by-one">
  <ul>
    <li ng-repeat="entry in char.journalList | orderBy: '-date'">
      <strong>{{entry.date| date:'yyyy-MM-dd HH:mm:ss'}}</strong><br />{{entry.entry}}
      <button ng-click="char.deleteEntry(entry._id)"
    </li>
  </ul>
</div>

<textarea id="JournalEntry" ng-model="char.newEntry"></textarea>
<button ng-click="char.reset()">Clear</button>
<button ng-click="char.submit(char.newEntry)">Submit</button>
